@charset 'utf-8';

/*community layout*/
.community {
	padding: 10px 0 100px;
	.inner {
		width: 1180px;
		position: relative;
		&::after {
			content: "";
			display: block;
			clear: both;
		}

		#tab {
			width: 100%;
			height: 1600px;
			border: 1px solid #000;
			position: relative;
			border: none;
			padding-top: 60px;

			dt {
				width: calc(100% / 2);
				height: 60px;
				position: absolute;
				top: 0;
				border-bottom: 2px solid #e2f1f8;
				box-sizing: border-box;

				&:nth-of-type(1) {
					left: calc((100% / 2) * 0);
				}
				&:nth-of-type(2) {
					left: calc((100% / 2) * 1);
				}

				a {
					display: block;
					width: 100%;
					height: 100%;
					font: 14px/60px "맑은 고딕";
					color: #888;
					letter-spacing: 1px;
					text-align: center;

					&.on {
						font-weight: bold;
						//color: dodgerblue;
						background: #e2f1f8;
						border-radius: 15px 15px 0 0;
						//border: 2px solid #e2f1f8;
						//border-bottom: 0;
					}
				}
			}

			dd {
				width: 100%;
				display: none;
				position: absolute;
				top: 60px;
				left: 0;
				margin-top: 100px;
				box-sizing: border-box;

				&#tab1 {
					display: block;
					.search_box {
						width: 100%;
						height: 60px;
						position: relative;

						p {
							font: 13px/1 arial;
							color: #777;
							letter-spacing: 1px;
							padding-top: 30px;
						}

						select {
							position: absolute;
							top: 0;
							right: 330px;
							width: 100px;
							height: 40px;
							padding-left: 15px;
							border: 1px solid #ddd;
							font: 12px/1 arial;
							color: #666;
						}

						input[type="search"] {
							position: absolute;
							top: 0;
							right: 75px;
							width: 250px;
							height: 40px;
							padding-left: 10px;
							border: 1px solid #ddd;
							font: 14px/1 "맑은 고딕";
							color: #333;
						}
						input[type="submit"] {
							position: absolute;
							top: -2px;
							right: 0;
							width: 70px;
							height: 42px;
							font: 13px/42px arial;
							color: #fff;
							text-align: center;
							letter-spacing: 1px;
							border: none;
							background: #b0bec5;
							cursor: pointer;
							transition: 0.3s;
							&:hover {
								color: #555;
							}
						}
					}
					table {
						width: 100%;
						border-bottom: 2px solid #b0bec5;
						border-collapse: collapse;

						tr {
							border-bottom: 1px solid #eee;
							&:nth-of-type(1) {
								border-top: 1px solid #b0bec5;
							}
							th {
								border-top: 2px solid #b0bec5;
								padding: 25px 0;
								font: bold 14px/1 "맑은 고딕";
								color: #555;
								background: #fff;
								letter-spacing: 1px;
								&:first-child {
									padding-left: 55px;
									text-align: left;
									width: 10%;
								}
							}
							td {
								padding: 35px;
								font: 12px/1.6 arial;
								color: #666;
								letter-spacing: 1px;
								transition: 3s;
								cursor: pointer;
								&:nth-child(1) {
									padding-left: 55px;
									font-weight: bold;
								}

								&:nth-child(2) {
									padding-left: 50px;
								}

								&:nth-child(3) {
									width: 10%;
									//text-align: right;
								}
								a {
									font-size: 14px;
									color: #333;
								}
							}
							&:hover {
								background: #eee;
							}
						}
					}

					.pagination {
						width: 100%;
						text-align: center;
						margin-top: 40px;
						.numbers {
							font-size: 0;
							display: inline-block;
							a {
								display: inline-block;
								width: 35px;
								height: 35px;
								font: bold 13px/35px arial;
								color: #888;
								text-align: center;
								margin: 0 2px;
								transition: 0.5s;
								&:hover {
									background: #b0bec5;
									color: #fff;
								}
							}
						}
					}

					.box3 {
						width: 100%;
						padding-top: 100px;
						//box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
						h1 {
							font: 20px/1 "맑은 고딕";
						}
						span {
							font: 13px/1 "맑은 고딕";
							padding-left: 10px;
						}
						.box1 {
							width: 50%;
							height: 150px;
							float: left;
							background: rgba(227, 242, 253, 0.5);
							padding: 35px;
							box-sizing: border-box;
							position: relative;

							&::after {
								content: "";
								display: block;
								width: 85%;
								height: 1px;
								background: #bbb;
								position: absolute;
								top: 70px;
								left: 36px;
							}
							a {
								display: block;
								width: 130px;
								height: 37px;
								background: #fefefe;
								font: bold 13px/37px arial;
								color: #555;
								padding-left: 20px;
								position: absolute;
								top: 90px;
								left: 36px;
								border-radius: 3px;
								i {
									transition: 0.5s;
								}
								&:hover .fa-arrow-right {
									transform: translateX(5px);
								}
							}
						}
						.box2 {
							width: 50%;
							height: 150px;
							float: right;
							background: rgba(177, 191, 202, 0.2);
							padding: 35px;
							box-sizing: border-box;
							position: relative;
							&::after {
								content: "";
								display: block;
								width: 85%;
								height: 1px;
								background: #bbb;
								position: absolute;
								top: 70px;
								left: 36px;
							}
							> div {
								width: 255px;
								height: 37px;
								background: #fafafa;
								position: absolute;
								top: 90px;
								left: 35px;
								border-radius: 3px;
								p {
									font: 14px/37px arial;
									color: #555;
									padding-left: 20px;
									letter-spacing: 1px;
								}
							}
						}
						h1 {
							display: inline-block;
						}
					}
				}

				&#tab2 {
					.news {
						width: 100%;
						height: 720px;
						article {
							float: left;
							width: 360px;
							margin-right: 50px;
							cursor: pointer;
							margin-bottom: 30px;

							&:nth-of-type(3n) {
								margin-right: 0;
							}
							&:nth-of-type(1) .pic {
								background: url(../img/news9.jpg) no-repeat
									center/cover;
							}
							&:nth-of-type(2) .pic {
								background: url(../img/news2.jpg) no-repeat
									center/cover;
							}
							&:nth-of-type(3) .pic {
								background: url(../img/news3.jpg) no-repeat
									center/cover;
							}
							&:nth-of-type(4) .pic {
								background: url(../img/news4.jpg) no-repeat
									center/cover;
							}
							&:nth-of-type(5) .pic {
								background: url(../img/news5.jpg) no-repeat
									center/cover;
							}
							&:nth-of-type(6) .pic {
								background: url(../img/news6.jpg) no-repeat
									center/cover;
							}

							.picbox {
								overflow: hidden;
								.pic {
									width: 100%;
									height: 200px;
									transition: 0.5s;
								}
							}

							> h1 {
								padding: 20px 0 30px;
								a {
									font: 18px/1 "맑은 고딕";
									color: #222;
								}
							}
							> p {
								font: 13px/1 "맑은 고딕";
								color: #aaa;
								letter-spacing: 1px;
							}
							&:hover {
								.pic {
									transform: scale(1.2);
								}
								h1 a,
								p {
									color: #0069c0;
								}
							}
						}
						span {
							//width: 100px;
							//height: 50px;
							display: block;
							float: right;
							a {
								font: 20px/50px arial;
								color: #555;
								letter-spacing: 1px;
								.fa-long-arrow-alt-right {
									position: relative;
									top: 2px;
								}
							}
						}
					}

					.news2,
					.news3 {
						width: 100%;
						height: 210px;
						margin: 80px 0 20px;
						article {
							float: left;
							width: 360px;
							height: 210px;
							margin-right: 50px;
							cursor: pointer;

							&.pic1 {
								background: url(../img/9.jpg) no-repeat
									center/cover;
								position: relative;
								&::after {
									content: "";
									display: block;
									width: 100%;
									height: 100%;
									position: absolute;
									top: 0;
									left: 0;
									background: rgba(255, 255, 255, 0.4);
									opacity: 0;
									transition: 0.5s;
								}
								> h2 {
									position: relative;
									top: 50%;
									transform: translateY(-50%);
									text-align: center;
									opacity: 0;
									a {
										font: bold 20px/1 "맑은 고딕";
										letter-spacing: 1px;
										color: #004ba0;
									}
								}
							}

							&.pic2 {
								background: url(../img/8.jpg) no-repeat
									center/cover;
								position: relative;
								&::after {
									content: "";
									display: block;
									width: 100%;
									height: 100%;
									position: absolute;
									top: 0;
									left: 0;
									background: rgba(255, 255, 255, 0.4);
									opacity: 0;
									transition: 0.5s;
								}
								> h2 {
									position: relative;
									top: 50%;
									transform: translateY(-50%);
									text-align: center;
									opacity: 0;
									transition: 0.5s;
									a {
										font: bold 20px/1 "맑은 고딕";
										letter-spacing: 1px;
										color: #004ba0;
									}
								}
							}

							&:nth-of-type(3) {
								margin-right: 0;
								p {
									font: 14px/1.8 "맑은 고딕";
									color: #222;
								}
							}

							h1 {
								font: bold 14px/1 "맑은 고딕";
								color: #0069c0;
								padding: 15px 0;
								border-top: 2px solid #ccc;
							}

							p {
								font: 18px/1.8 "맑은 고딕";
							}
						}
					}

					.news2:hover {
						.pic1::after {
							opacity: 1;
						}
						.pic1 h2 {
							opacity: 1;
							z-index: 3;
						}
					}

					.news3:hover {
						.pic2::after {
							opacity: 1;
						}
						.pic2 h2 {
							opacity: 1;
							z-index: 3;
						}
					}

					.pagination2 {
						width: 100%;
						text-align: center;
						height: 60px;
						position: relative;
						top: 50px;

						.numbers {
							font-size: 0;
							display: inline-block;
							a {
								display: inline-block;
								width: 35px;
								height: 35px;
								font: bold 13px/35px arial;
								color: #888;
								text-align: center;
								margin: 0 2px;
								transition: 0.5s;
								&:hover {
									background: #b0bec5;
									color: #fff;
								}
							}
						}
					}
				}
			}
		}
	}
}

/* Tablet */
@media screen and (max-width: $tablet) {
	.community {
		padding: 10px 0 150px;
		.inner {
			width: 100%;
			#tab {
				height: 1300px;
				//padding-top: 60px;
				dt {
					height: 50px;
					top: 30px;
					a {
						font: 14px/50px "맑은 고딕";
					}
				}

				dd {
					margin-top: 100px;
					&#tab1 {
						.wrap {
							.search_box {
								height: 50px;
								select {
									right: 300px;
									width: 80px;
									height: 35px;
								}

								input[type="search"] {
									width: 220px;
									height: 35px;
								}
								input[type="submit"] {
									top: -1px;
									width: 70px;
									height: 37px;
									font: 13px/37px arial;
								}
							}
							table {
								padding-top: 30px;
								tr {
									th {
										padding: 15px 30px;
									}
									td {
										padding: 25px;
									}
								}
							}

							.box3 {
								padding-top: 80px;
								.box1 {
									height: 130px;
									padding: 20px;
									> h1 {
										font-size: 14px;
									}
									span {
										font-size: 12px;
										padding-left: 5px;
									}

									&::after {
										width: 80%;
										top: 55px;
										left: 20px;
									}
									a {
										width: auto;
										height: 35px;
										font: 13px/35px arial;
										padding: 0 10px;
										top: 70px;
										left: 20px;
									}
								}
								.box2 {
									height: 130px;
									padding: 20px;
									> h1 {
										font-size: 14px;
									}
									&::after {
										width: 80%;
										top: 55px;
										left: 20px;
									}
									> div {
										width: auto;
										height: 35px;
										top: 70px;
										left: 20px;
										p {
											font: 13px/35px arial;
											padding: 0 10px;
										}
									}
								}
								h1 {
									font: bold 15px/1 "맑은 고딕";
								}
							}
						}
					}

					&#tab2 {
						margin-bottom: 100px;
						.news {
							height: 650px;
							article {
								width: 32%;
								margin-right: 2%;
								margin-bottom: 30px;
								.pic {
									height: 25vh;
								}

								> h1 {
									padding: 5px 0 10px;
									a {
										font: 16px/1 "맑은 고딕";
									}
								}
								> p {
									font: 12px/1 "맑은 고딕";
								}
							}
							span a {
								font-size: 16px;
							}
						}

						.news2,
						.news3 {
							margin: 60px 0 20px;
							article {
								float: left;
								width: 32%;
								margin-right: 2%;
								margin-bottom: 30px;

								&.pic1 {
									> h2 {
										a {
											font: bold 16px/1 "맑은 고딕";
										}
									}
								}

								&.pic2 {
									> h2 {
										a {
											font: bold 16px/1 "맑은 고딕";
										}
									}
								}

								&:nth-of-type(3) {
									overflow: hidden;
									p {
										font: 14px/1.4 "맑은 고딕";
										word-break: break-all;
									}
								}

								h1 {
									font: bold 14px/1 "맑은 고딕";
									padding: 15px 0;
									border-top: 2px solid #ccc;
								}

								p {
									font: 16px/1.6 "맑은 고딕";
								}
							}
						}
						.pagination2 {
							display: none;
						}
					}
				}
			}
		}
	}
}

/* Mobile */
@media screen and (max-width: $mobile) {
	.community {
		padding: 10px 0 150px;
		.inner {
			#tab {
				height: 1100px;
				dt {
					height: 40px;
					top: 30px;
					a {
						font: bold 12px/40px "Roboto";
					}
				}

				dd {
					margin-top: 50px;
					&#tab1 {
						.wrap {
							.search_box {
								height: 45px;
								select {
									right: 225px;
									width: 50px;
									height: 30px;
									padding-left: 10px;
									font-size: 10px;
								}

								p {
									display: none;
								}

								input[type="search"] {
									width: 160px;
									height: 30px;
									right: 62px;
								}
								input[type="submit"] {
									top: 0px;
									width: 60px;
									height: 30px;
									font: bold 11px/30px "Roboto";
									right: 0px;
								}
							}

							table {
								padding-top: 30px;
								tr {
									th {
										padding: 17px;
										font-size: 11px;
										color: #666;
										&:last-child {
											display: none;
										}
									}
									td {
										padding: 15px;
										font-size: 12px;
										font-weight: normal;
										&:first-child {
											padding-left: 15px;
										}
										&:last-child {
											display: none;
										}
										a {
											font-size: 11px;
										}
									}
								}
							}

							.pagination {
								margin: 20px 0;
								a {
									width: 25px;
									height: 25px;
									font: bold 12px/25px arial;
								}
							}

							.box3 {
								padding-top: 20px;
								.box1 {
									width: 100%;
									height: 100px;
									margin-bottom: 15px;
									> h1 {
										font-size: 13px;
									}
									span {
										font-size: 11px;
									}
									&::after {
										width: 85%;
										top: 50px;
									}
									a {
										height: 30px;
										font: 11px/30px arial;
										top: 60px;
									}
								}
								.box2 {
									width: 100%;
									height: 100px;
									> h1 {
										font-size: 13px;
									}
									&::after {
										width: 85%;
										top: 50px;
									}
									> div {
										height: 30px;
										top: 60px;
										p {
											font: 11px/30px arial;
										}
									}
								}
								h1 {
									font: bold 13px/1 "맑은 고딕";
								}
							}
						}
					}

					&#tab2 {
						margin-bottom: 100px;
						.news {
							height: 600px;
							article {
								width: 100%;
								margin-right: 0%;
								margin-bottom: 20px;
								&:nth-of-type(2n) {
									display: none;
								}
								.picbox {
									.pic {
										height: 20vh;
									}
								}

								> h1 {
									padding: 0 0 10px;
									a {
										font: 15px/1 "맑은 고딕";
									}
								}
								> p {
									font: 12px/1 "맑은 고딕";
								}
							}
							span a {
								font-size: 16px;
							}
						}

						.news2,
						.news3 {
							width: 100%;
							height: 20vh;
							margin: 60px 0 100px;
							article {
								float: none;
								width: 100%;
								height: 100%;
								margin-right: 0px;
								margin-bottom: 8px;
								&.pic1 {
									> h2 {
										a {
											font: bold 14px/1 "맑은 고딕";
										}
									}
								}
								&.pic2 {
									> h2 {
										a {
											font: bold 14px/1 "맑은 고딕";
										}
									}
								}
								&:nth-of-type(3) {
									display: none;
								}
								h1 {
									font: bold 12px/1 "맑은 고딕";
									padding: 5px 0;
								}
								p {
									font: 13px/1 "맑은 고딕";
								}
								&:hover {
									.pic {
										transform: scale(1.1);
									}
								}
							}
						}
						.pagination2 {
							display: none;
						}
					}
				}
			}
		}
	}
}
