@charset 'utf-8';

.location {
	padding: 50px 0 200px;
	.wrap {
		&::after {
			content: "";
			display: block;
			clear: both;
		}

		h2 {
			text-align: center;
			font: normal 35px/1 "Roboto";
			color: #222;
			margin-bottom: 70px;
			position: relative;

			&::after {
				content: "";
				display: block;
				width: 200px;
				height: 1px;
				background: #49a7cc;
				position: absolute;
				bottom: -15px;
				left: 50%;
				transform: translateX(-50%);
			}
		}

		.pic {
			width: 100%;
			height: 400px;
			background: url(../img/13.jpg) no-repeat center/cover;
			margin-bottom: 100px;
			position: relative;
			filter: saturate(80%);
			.pic2 {
				content: "";
				display: block;
				width: 45%;
				height: 320px;
				background: #fff;
				position: absolute;
				top: 10%;
				right: 40px;
				padding: 30px;
				box-sizing: border-box;
				opacity: 0.9;
				border-radius: 3px;

				ul li {
					font: bold 16px/1 "Roboto";
					color: #333;
					letter-spacing: 1px;
					cursor: pointer;
					padding: 15px;
					box-sizing: border-box;
					h1 {
						width: 100%;
						border-bottom: 2px solid #999;
						padding-bottom: 10px;
						margin-bottom: 5px;
						strong {
							font: bold 18px/1 "Roboto";
							letter-spacing: 2px;
						}
						.fa-chevron-right {
							font-size: 16px;
							margin-left: 10px;
							transition: 0.5s;
							color: #49a7cc;
						}
					}
					p {
						font: 16px/1 "맑은 고딕";
					}
					&:hover .fa-chevron-right {
						transform: translateX(10px);
					}
				}
			}
		}

		.branch {
			width: 100%;
			margin: 0 auto;
			li {
				width: calc(100% / 3);
				float: left;
				border: 1px solid #ccc;
				box-sizing: border-box;
				&:nth-of-type(1) {
					border-right: none;
				}
				&:nth-of-type(2) {
					border-right: none;
				}
				a {
					display: block;
					height: 50px;
					background: #fff;
					font: bold 14px/50px "arial";
					color: #aaa;
					text-align: center;
					&:hover {
						color: lightsteelblue;
					}
				}
				&.on a {
					color: lightsteelblue;
				}
			}
		}

		#map {
			width: 100%;
			height: 500px;
			background: #111;
			margin: 0 auto;
			margin-bottom: 100px;
		}

		.box {
			width: 100%;

			article {
				float: left;
				width: calc(100% / 3);
				height: 250px;
				background: #f5f5f5;
				//margin-right: 20px;
				position: relative;
				cursor: pointer;
				overflow: hidden;
				.fa-car-side,
				.fa-subway,
				.fa-walking {
					font-size: 60px;
					color: #888;
					position: absolute;
					top: 60px;
					left: 50%;
					transform: translateX(-50%);
					transition: 1s;
				}
				&:after {
					content: "";
					display: block;
					width: 100%;
					height: 120px;
					background: #e3f2fd;
					position: absolute;
					top: 0px;
					left: 0;
					opacity: 0.6;
				}
				&:nth-of-type(3) {
					margin-right: 0;
				}
				h3 {
					font: 15px/1 arial;
					color: #333;
					text-align: center;
					position: relative;
					top: 135px;
					a {
						color: #444;
					}
				}
				.fa-long-arrow-alt-right {
					font-size: 20px;
					color: #b1bfca;
					position: absolute;
					bottom: -45px;
					right: 18px;
				}
				&:hover {
					.fa-long-arrow-alt-right {
						color: #555;
					}
					.fa-car-side,
					.fa-subway,
					.fa-walking {
						transform: translateX(200px);
					}
				}
			}
		}

		.box2 {
			width: 100%;
			margin-top: 400px;

			/*
			h2 {
				text-align: center;
				font: bold 30px/1 "맑은 고딕";
				color: #555;
				margin-bottom: 50px;
			}
			*/

			article {
				width: calc(100% / 3);
				//height: 300px;
				float: left;
				border: 1px solid #ccc;
				box-sizing: border-box;
				padding: 30px;

				h3 {
					text-align: center;
					font: 17px/1 "맑은 고딕";
					margin-bottom: 50px;
					position: relative;
					&::after {
						content: "";
						display: block;
						width: 50px;
						height: 2px;
						background: #555;
						position: absolute;
						bottom: -20px;
						left: 50%;
						transform: translateX(-50%);
					}
				}

				ul li {
					p {
						font: 14px/1.4 arial;
						color: #555;
						margin-top: 5px;
						margin-bottom: 15px;
					}
				}

				&:nth-of-type(2) {
					border-left: 0;
				}
				&:nth-of-type(3) {
					border-left: 0;
				}
			}
		}
	}
}

/* Tablet */
@media screen and (max-width: $tablet) {
	.location {
		.wrap {
			.branch {
				width: 100%;
			}
			.pic {
				height: 300px;
				margin-bottom: 60px;
				.pic2 {
					height: 260px;
					padding: 20px;
					top: 7%;
					right: 20px;
					ul li {
						padding: 10px;

						h1 {
							font-size: 18px;
							padding-bottom: 2px;
							margin-bottom: 5px;
							.fa-chevron-right {
								font-size: 13px;
								margin-bottom: 2px;
							}
						}
						p {
							font-size: 14px;
						}
					}
				}
			}

			#map {
				width: 100%;
				height: 400px;
			}

			.box {
				width: 100%;
				article {
					width: calc(100% / 3);
					padding: 20px;

					h3 {
						margin-bottom: 30px;
						&::after {
							width: 70%;
							bottom: -15px;
						}
					}

					ul li {
						&:nth-of-type(1) {
							height: 75px;
						}
						p {
							font: 14px/1.4 arial;
							margin-top: 5px;
							margin-bottom: 10px;
						}
					}
				}
			}
		}
	}
}

/* Mobile */
@media screen and (max-width: $mobile) {
	.location {
		padding: 30px 0 100px;
		.wrap {
			.pic {
				height: 30vh;
				margin-bottom: 40px;
				.pic2 {
					display: none;
				}
			}
			h2 {
				font: bold 22px/1 "맑은 고딕";
				margin-top: 20px;
				margin-bottom: 10px;
			}

			span {
				font: 12px/1.2 arial;
				margin-bottom: 30px;
			}

			.branch {
				li a {
					height: 35px;
					font: bold 13px/35px "arial";
				}
			}

			#map {
				height: 300px;
				margin-bottom: 30px;
			}

			.box {
				article {
					width: 100%;
					float: none;
					border: 1px solid #ccc;
					padding: 10px 10px 5px;

					h3 {
						font: 13px/1 "맑은 고딕";
						margin-bottom: 10px;
						&::after {
							width: 30%;
							height: 2px;
							background: #888;
							bottom: -10px;
						}
					}

					ul li {
						font: 13px/1 arial;
						&:nth-of-type(1) {
							height: auto;
						}
						p {
							font: 12px/1.2 arial;
							color: #555;
							margin-top: 2px;
							margin-bottom: 5px;
						}
					}

					&:nth-of-type(2) {
						border-left: 1px solid #ccc;
					}
					&:nth-of-type(3) {
						border-left: 1px solid #ccc;
					}
				}
			}
		}
	}
}
