@charset 'utf-8';

/*sub_header layout*/
#sub_header {
	width: 100%;
	padding: 20px 0;

	.inner {
		width: 1180px;
		margin: 0 auto;
		position: relative;

		> h1 {
			text-align: center;
			border-bottom: 2px solid #eee;
			padding-bottom: 15px;
			a {
				font: bold 40px/1 arial;
				color: #555;
				letter-spacing: 1px;
			}
		}

		.wrap {
			width: 100%;
			.menuWeb {
				#gnb {
					&::after {
						content: "";
						display: block;
						clear: both;
					}
					> li {
						//1depth
						width: calc(100% / 5);
						float: left;
						border-bottom: 2px solid #eee;
						> a {
							display: block;
							width: 120px;
							height: 38px;
							font: 16px/38px arial;
							color: #333;
							text-align: center;
							letter-spacing: 1px;
							margin: 0 auto;
							box-sizing: border-box;
							&:hover,
							&.on {
								//border-bottom: 2px solid #444;
								color: #b1bfca;
							}
							.down {
								font-size: 10px;
								color: #999;
								margin-left: 8px;
								transform: rotate(0deg);
								transition: 0.3s;
							}
							&:hover .down,
							&.on .down {
								transform: rotate(-180deg);
							}
						}
					}

					//2depth
					.sub {
						position: absolute;
						width: 1180px;
						left: 50%;
						margin-left: -590px;
						top: 100px;
						box-sizing: border-box;
						display: none;
						background: #fefefe;
						box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.08);
						z-index: 3;
					}
					.sub1 {
						padding: 25px 20px 0px 20px;
						h1 {
							font: 15px/1 arial;
							letter-spacing: 1px;
						}
						.txtBox {
							width: 30%;
							height: 100%;
							float: left;
							padding-right: 15px;
							box-sizing: border-box;

							article {
								width: 100%;
								&:nth-of-type(1) {
									margin-bottom: 30px;
									position: relative;
									&::after {
										content: "";
										display: block;
										width: 100%;
										height: 2px;
										background: #ddd;
										position: absolute;
										top: 24px;
										left: 0;
									}
									p {
										font: 14px/1.6 arial;
										color: #222;
										margin-top: 15px;
									}
								}
								&:nth-of-type(2) {
									margin-bottom: 30px;
									position: relative;
									&::after {
										content: "";
										display: block;
										width: 100%;
										height: 2px;
										background: #ddd;
										position: absolute;
										top: 24px;
										left: 0;
									}
									ul {
										margin-top: 15px;
										li a {
											font: 14px/1 arial;
											color: #222;
										}
									}
								}
							}
						}
						.picBox {
							width: 70%;
							float: left;
							position: relative;
							&::after {
								content: "";
								display: block;
								width: 100%;
								height: 2px;
								background: #ddd;
								position: absolute;
								top: 24px;
								left: 0;
							}
							article {
								width: 32.444%;
								float: left;
								margin-right: 10px;
								box-sizing: border-box;
								position: relative;
								.pic {
									width: 100%;
									height: 130px;
									margin-top: 23px;
									cursor: pointer;
								}
								h2 a {
									font: bold 15px/1 arial;
									color: #111;
								}
								p {
									font: 12px/1 arial;
									color: #555;
									margin: 5px 0 25px 0;
								}
								span {
									font: 14px/1.4 arial;
									color: #333;
									cursor: pointer;
									.right {
										font-size: 13px;
										color: #666;
										margin-left: 3px;
									}
								}

								&:nth-of-type(1) {
									.pic {
										background: url(../img/8.jpg) no-repeat
											center/cover;
									}
								}
								&:nth-of-type(2) {
									.pic {
										background: url(../img/7.jpg) no-repeat
											center/cover;
									}
								}
								&:nth-of-type(3) {
									margin-right: 0;
									.pic {
										background: url(../img/6.jpg) no-repeat
											center/cover;
									}
								}
								&:hover {
									.right {
										transform: translateX(15px);
									}
								}
							}
						}
					}
					.sub2 {
						> ul {
							width: 150px;
							float: left;
							padding: 25px;
							box-sizing: border-box;
							li {
								margin-bottom: 5px;
								&:nth-of-type(1) {
									padding-bottom: 10px;
									border-bottom: 2px solid #ccc;
									letter-spacing: 1px;
								}
								a {
									font: 14px/1px arial;
									color: #111;
									letter-spacing: 1px;
								}
							}
						}
						.pic2 {
							float: right;
							padding: 30px 30px 0 0;
							box-sizing: border-box;
							article {
								width: 310px;
								float: left;
								margin-right: 30px;
								overflow: hidden;
								.pic {
									width: 100%;
									height: 200px;
									transition: 0.5s;
									cursor: pointer;
									transition: 0.3s;
								}
								&:nth-of-type(1) .pic {
									background: url(../img/1.jpg) no-repeat
										center/cover;
								}
								&:nth-of-type(2) .pic {
									background: url(../img/2.jpg) no-repeat
										center/cover;
								}
								&:nth-of-type(3) {
									margin-right: 0;
									.pic {
										background: url(../img/3.jpg) no-repeat
											center/cover;
									}
								}
								.txtbox {
									width: 100%;
									height: 120px;
									background: #fefefe;
									transition: 0.3s;
									> h2 {
										padding: 5px 0;
										a {
											font: normal 16px/1 arial;
											color: #555;
										}
										.right {
											font-size: 12px;
											margin: 0 0 1px 5px;
											transition: 0.8;
										}
									}
									p {
										font: 14px/1.4 arial;
										color: #666;
										//margin-top: 5px;
										cursor: pointer;
									}
								}
								&:hover {
									.pic {
										transform: scale(1.1);
									}
									.txtbox {
										transform: translateY(-20px);
									}
									.right {
										transform: translateX(8px);
									}
								}
							}
						}
					}
					.sub3 {
						padding: 20px 25px;
						h1 {
							font: normal 16px/1 arial;
							position: relative;
							letter-spacing: 1px;
							&:after {
								content: "";
								display: block;
								width: 470px;
								height: 2px;
								background: #ccc;
								position: absolute;
								top: 30px;
								left: 0;
							}
						}
						> ul {
							width: 40%;
							float: left;
							margin-top: 30px;
							li {
								width: 50%;
								float: left;
								margin-bottom: 30px;
								a {
									font: 14px/1px arial;
									color: #444;
									position: relative;
									letter-spacing: 1px;

									&:hover .fa-chevron-right {
										color: #94af76;
									}
								}
								.fa-chevron-right {
									margin-left: 15px;
									color: #ccc;
								}
								&:hover .fa-chevron-right {
									transform: translateX(10px);
								}
							}
						}
						> .pic {
							width: 600px;
							height: 190px;
							float: right;
							background: url(../img/8.jpg) no-repeat center/cover;
							position: relative;
							top: -10px;
						}
					}
					.sub4 {
						padding: 20px 20px 40px;
						box-sizing: border-box;
						h1 {
							font: normal 16px/1 arial;
							padding-bottom: 10px;
							border-bottom: 2px solid #ccc;
							letter-spacing: 1px;
						}
						article {
							width: 23%;
							float: left;
							margin-right: 30px;
							margin-top: 15px;

							.pic {
								width: 100%;
								height: 150px;
								margin-bottom: 20px;
								cursor: pointer;
							}

							.txtBox {
								width: 100%;
								height: 60px;
								border-top: 2px solid #ddd;
								border-bottom: 2px solid #ccc;
								padding: 10px 0;
								box-sizing: border-box;
								h2 {
									font: 15px/1 arial;
									margin-bottom: 10px;
									letter-spacing: 1px;
									a {
										color: #333;
									}
								}
								p {
									font: 13px/1 arial;
									color: #555;
								}
							}
							&:nth-of-type(1) {
								.pic {
									background: url(../img/6.jpg) no-repeat
										center/cover;
								}
							}
							&:nth-of-type(2) {
								.pic {
									background: url(../img/15.jpg) no-repeat
										center/cover;
								}
							}
							&:nth-of-type(3) {
								.pic {
									background: url(../img/14.jpg) no-repeat
										center/cover;
								}
							}
							&:nth-of-type(4) {
								margin-right: 0;
								.pic {
									background: url(../img/13.jpg) no-repeat
										center/cover;
								}
							}
						}
					}
					.sub5 {
						padding: 20px 25px;
						box-sizing: border-box;
						h1 {
							font: normal 16px/1 arial;
							padding-bottom: 10px;
							border-bottom: 2px solid #ccc;
							letter-spacing: 1px;
							margin-bottom: 15px;
						}
						.pic {
							width: 390px;
							height: 200px;
							float: left;
							cursor: pointer;
							background: url(../img/9.jpg) no-repeat center/cover;
							margin-right: 20px;
							opacity: 0.9;
						}
						.box {
							width: 720px;
							float: left;
							article {
								float: left;
								width: 225px;
								height: 200px;
								background: #f5f5f5;
								margin-right: 20px;
								position: relative;
								cursor: pointer;
								overflow: hidden;
								.fa-car-side,
								.fa-subway,
								.fa-walking {
									font-size: 60px;
									color: #888;
									position: absolute;
									top: 60px;
									left: 50%;
									transform: translateX(-50%);
									transition: 1.5s;
								}
								&:after {
									content: "";
									display: block;
									width: 100%;
									height: 120px;
									background: #e3f2fd;
									position: absolute;
									top: 0px;
									left: 0;
									opacity: 0.6;
								}
								&:nth-of-type(3) {
									margin-right: 0;
								}
								h2 {
									font: 15px/1 arial;
									color: #333;
									text-align: center;
									position: relative;
									top: 135px;
									a {
										color: #444;
									}
								}
								.fa-long-arrow-alt-right {
									font-size: 20px;
									color: #b1bfca;
									position: absolute;
									bottom: -45px;
									right: 18px;
								}
								&:hover {
									.fa-long-arrow-alt-right {
										color: #555;
									}
									.fa-car-side,
									.fa-subway,
									.fa-walking {
										transform: translateX(150px);
									}
								}
							}
						}
					}
				}
			}
			.util1 {
				position: absolute;
				top: -10px;
				right: 0;

				li {
					float: left;
					margin-left: 22px;
					a {
						font: bold 13px/1 arial;
						color: #999;
						&:hover {
							color: #666;
						}
					}
				}
			}
			.util2 {
				position: absolute;
				top: -10px;
				left: 0;

				li {
					float: left;
					margin-right: 22px;
					a {
						font: bold 13px/1 arial;
						color: #999;
						&:hover {
							color: #666;
						}
					}
				}
			}
		}
	}
}

#sub_header .btnCall {
	display: none;
	width: 30px;
	height: 20px;
	position: fixed;
	top: 20px;
	right: 20px;
	z-index: 5;

	&::before {
		content: "";
		display: block;
		width: 100%;
		height: 3px;
		background: #444;
		border-radius: 3px;
		position: absolute;
		top: 0;
		right: 0;
		transition: top 0.5s 0s, transform 0.5s 0.5s;
	}
	&::after {
		content: "";
		display: block;
		width: 100%;
		height: 3px;
		background: #444;
		border-radius: 3px;
		position: absolute;
		bottom: 0;
		right: 0;
		transition: bottom 0.5s 0s, transform 0.5s 0.5s;
	}
	&.on::before {
		transform: rotate(45deg);
		top: calc(50% - 3px);
	}
	&.on::after {
		transform: rotate(-45deg);
		bottom: 50%;
	}
}

#sub_header .menuMo {
	position: fixed;
	right: -350px;
	top: 0;
	width: 350px;
	height: 100%;
	opacity: 0.8;
	background: #eee;
	padding: 30px;
	box-sizing: border-box;
	transition: all 1s;
	z-index: 3;
	> h1 {
		font-size: 30px;
		text-align: center;
		padding: 10px;
		border-bottom: 2px solid #999;
	}
	.gnbMo li a {
		display: block;
		width: 100%;
		padding: 25px 0;
		font: 16px arial;
		text-align: left;
		color: #555;
		text-align: center;
		&:hover {
			color: lightskyblue;
		}
	}
	.utilMo {
		position: absolute;
		top: 8px;
		left: 10px;
		&::after {
			content: "";
			display: block;
			clear: both;
		}
		li {
			float: left;
			margin-left: 20px;
			a {
				font: 13px arial;
				color: #666;
			}
		}
	}
	&.on {
		right: 0;
	}
}

.content {
	width: 100%;
	padding: 20px 0px;
	min-height: 600px;
	.inner {
		width: 1180px;
		margin: 0 auto;
	}
	.sub_visual {
		width: 100%;
		height: 210px;
		h1 {
			font: 65px/1 "Roboto";
			color: #aaa;
			text-align: left;
			padding-top: 60px;
		}
	}
}

/*fsub_ooter layout*/
#sub_footer {
	width: 100%;

	.upper {
		width: 100%;
		background: #f3f8fade;
		padding: 80px 0;
		.inner {
			width: 1180px;
			margin: 0 auto;
			position: relative;
			&::after {
				content: "";
				display: block;
				clear: both;
			}
			.footerGnb {
				width: 70%;
				float: left;
				ul {
					float: left;
					padding-right: 70px;
					li {
						letter-spacing: 1px;
						margin-bottom: 15px;
						&:nth-of-type(1) {
							font: 14px/1 arial;
							color: #666;
						}
						a {
							color: #babdbe;
							font: 12px/1 arial;
						}
					}
				}
			}
			.emailBox {
				width: 30%;
				float: left;
				label[for="email"] {
					display: block;
					font: normal 14px/1 arial;
					color: #666;
					letter-spacing: 1px;
					margin-bottom: 15px;
				}

				label[for="female"],
				label[for="male"] {
					font-size: 12px;
					color: #babdbe;
					margin-right: 10px;
					margin-bottom: 10px;
				}
				input[type="text"] {
					width: 100%;
					height: 30px;
					border: none;
					border-bottom: 2px solid #ccc;
					background: #f3f8fade;
					margin-bottom: 10px;
					box-sizing: border-box;
					font-size: 13px;
					letter-spacing: 1px;
					text-align: center;
				}
				input[type="submit"] {
					width: 100%;
					height: 35px;
					border: none;
					border-radius: 3px;
					background: #babdbe70;
					font: 12px/1 arial;
					color: #fff;
					letter-spacing: 1px;
					cursor: pointer;
					&:hover {
						background: #9a9d9e;
					}
				}
			}
		}
	}

	.loewr {
		width: 100%;
		padding: 15px 0;
		background: #eceff1;
		.inner {
			width: 1180px;
			margin: 0 auto;
			&::after {
				content: "";
				display: block;
				clear: both;
			}

			address {
				float: left;
				padding-top: 6px;
				font: 12px/1 arial;
				color: #888;
			}
			.sns {
				float: right;
				margin-right: 55px;
				li {
					float: left;
					margin-left: 20px;
					a {
						font: 12px/1 arial;
						color: #888;
					}
				}
			}
		}
	}
}

/* Tablet */
@media screen and (max-width: $tablet) {
	#sub_header {
		padding-top: 20px;
		.inner {
			width: 100%;
			padding: 0 30px;
			box-sizing: border-box;
			> h1 {
				padding-bottom: 20px;
				a {
					font-size: 35px;
				}
			}
			.wrap {
				.menuWeb {
					display: none;
				}
				.btnCall {
					display: block;
				}
			}
		}
	}

	.content {
		.inner {
			width: 100%;
			padding: 0 30px;
			box-sizing: border-box;
			.sub_visual h1 {
				font-size: 50px;
				padding-top: 70px;
			}
			.sub_visual {
				height: 150px;
			}
		}
	}

	/*footer layout*/
	#sub_footer {
		.upper {
			width: 100%;
			padding: 40px 30px;
			box-sizing: border-box;
			.inner {
				width: 100%;
				position: relative;
				.footerGnb {
					width: 100%;
					float: none;
					ul {
						width: 25%;
						padding-right: 0;
						margin-bottom: 30px;
						li {
							font: 13px/1 arial;
						}
					}
				}
				.emailBox {
					width: 100%;
					text-align: left;
					label[for="email"] {
						font: normal 13px/1 arial;
					}
					input[type="submit"] {
						font-size: 13px;
					}
				}
			}
		}

		.loewr {
			padding: 13px 30px;
			box-sizing: border-box;
			.inner {
				width: 100%;
				address {
					padding-top: 6px;
					color: #999;
				}
				.sns {
					margin-right: 0px;
					li {
						margin-left: 15px;
						a {
							color: #999;
						}
					}
				}
			}
		}
	}
}

/* Mobile*/
@media screen and (max-width: $mobile) {
	#sub_header {
		padding-top: 10px;
		.inner {
			.wrap {
				.menuMo {
					opacity: 1;
					> h1 {
						font-size: 25px;
					}
					li a {
						font-size: 14px;
					}
					.utilMo {
						li a {
							font-size: 12px;
						}
					}
				}
				.btnCall {
					display: block;
					width: 23px;
					height: 15px;
					top: 10px;
					right: 10px;
					&::before,
					&::after {
						height: 2px;
						color: #999;
					}
					&.on::before {
						top: calc(50% - 2px);
					}
				}
			}
		}
	}

	.content {
		.inner {
			.sub_visual h1 {
				font-size: 40px;
				padding-top: 30px;
			}
			.sub_visual {
				height: 100px;
			}
		}
	}

	/*footer layout*/
	#sub_footer {
		.upper {
			padding: 30px 30px;
			.inner {
				.footerGnb {
					ul {
						width: 50%;
						margin-bottom: 20px;
						li {
							margin-bottom: 10px;
							&:nth-of-type(1) {
								font: 12px/1 arial;
							}
							a {
								font-size: 11px;
							}
						}
					}
				}
				.emailBox {
					width: 100%;
					margin-top: 10px;
					label[for="email"] {
						font: normal 12px/1 arial;
						margin-bottom: 10px;
					}
					input[type="text"],
					input[type="submit"] {
						font-size: 12px;
					}
				}
			}
		}

		.loewr {
			.inner {
				address {
					width: 100%;
					padding-bottom: 10px;
					text-align: center;
				}
				.sns {
					width: 100%;
					float: none;
					li {
						width: calc(100% / 4);
						margin-left: 0px;
						text-align: center;
						a {
							color: #888;
						}
					}
				}
			}
		}
	}
}
