@charset 'utf-8';
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

.youtube {
	.inner {
		padding: 100px 0 200px;
		#vidGallery {
			width: 100%;
			&::after {
				content: "";
				display: block;
				clear: both;
			}

			article {
				width: 370px;
				height: 500px;
				margin-right: 30px;
				margin-bottom: 30px;
				box-sizing: border-box;
				background: whitesmoke;
				float: left;
				overflow: hidden;
				&:nth-of-type(3),
				&:nth-of-type(6),
				&:nth-of-type(9),
				&:nth-of-type(12) {
					margin-right: 0;
				}

				&::after {
					content: "";
					display: block;
					clear: both;
				}

				.picbox {
					overflow: hidden;
					.pic {
						width: 100%;
						height: 190px;
						background-repeat: no-repeat;
						background-size: cover;
						background-position: center;
						float: left;
						transition: 0.5s;
					}
				}
				.con {
					width: 100%;
					height: 150px;
					padding: 20px;
					box-sizing: border-box;

					> h2 {
						display: inline-block;
						height: 25%;
						font: bold 15px/1.3 "Playfair Display";
						color: #888;
						margin-top: 20px;
						margin-bottom: 30px;
						letter-spacing: 2px;
					}
					p {
						font: 13px/1.6 "Playfair Display";
						letter-spacing: 1px;
						height: 75%;
						color: #999;
						margin-bottom: 20px;
					}
					span {
						font: 15px/1 "Playfair Display";
						color: #666;
						margin-bottom: 20px;
					}
					a {
						display: block;
						text-align: right;
						font: bold 14px/1px "Playfair Display";
						color: slategray;
						position: relative;
						bottom: -50px;
						letter-spacing: 1px;
						&:hover {
							color: powderblue;
						}
					}
				}
				&:hover {
					.pic {
						transform: scale(1.1);
					}
				}
			}
		}
	}
}

/* Tablet */
@media screen and (max-width: $tablet) {
	.youtube {
		.inner {
			padding: 50px 30px 100px;
			box-sizing: border-box;
			#vidGallery {
				article {
					width: 48%;
					height: 480px;
					margin-right: 4%;

					&:nth-of-type(1),
					&:nth-of-type(3),
					&:nth-of-type(5),
					&:nth-of-type(7),
					&:nth-of-type(9),
					&:nth-of-type(11) {
						margin-right: 4%;
					}
					&:nth-of-type(2),
					&:nth-of-type(4),
					&:nth-of-type(6),
					&:nth-of-type(8),
					&:nth-of-type(10),
					&:nth-of-type(12) {
						margin-right: 0;
					}
					.pic {
						height: 50%;
					}
					.con {
						> h2 {
							height: 30%;
							font: bold 14px/1.3 "Playfair Display";
							margin-bottom: 10px;
						}
						p {
							font: 13px/1.4 "Playfair Display";
							height: 120px;
							margin-bottom: 0;
						}
						span {
							font: 14px/1 "Playfair Display";
						}
						a {
							font: bold 14px/1px "Playfair Display";
							bottom: -5px;
						}
					}
				}
			}
		}
	}
}

/* Mobile */
@media screen and (max-width: $mobile) {
	.youtube {
		.inner {
			padding: 0px 30px 70px;
			#vidGallery {
				padding-top: 30px;
				article {
					width: 100%;
					height: 370px;
					margin-right: 0%;

					&:nth-of-type(1),
					&:nth-of-type(3),
					&:nth-of-type(5),
					&:nth-of-type(7),
					&:nth-of-type(9),
					&:nth-of-type(11) {
						margin-right: none;
					}
					.pic {
						height: 40%;
					}
					.con {
						> h2 {
							height: 25px;
							font: bold 13px/1.3 "Playfair Display";
							margin-top: 20px;
							height: 40px;
						}
						p {
							font: 12px/1.2 "Playfair Display";
							height: 100px;
							margin: 10px 0 5px;
						}
						span {
							font: 13px/1 "Playfair Display";
						}
						a {
							display: none;
						}
					}
				}
			}
		}
	}
}
