@charset "utf-8";

$tablet: 1179px;
$mobile: 539px;

@import "reset";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
@import "sub_layout";
@import "department";
@import "community";
@import "youtube";
@import "gallery";
@import "location";
@import "join";
@import "result";

/* skipNavi layout */
#skipNavi li a {
	display: block;
	width: 100%;
	height: 30px;
	background: lightslategray;
	font: 15px/30px "맑은 고딕";
	color: #fff;
	text-align: center;
	position: fixed;
	top: -40px;
	left: 0;

	&.on {
		top: 0;
	}
}

/*header layout*/
#header {
	width: 100%;
	padding: 20px 0 15px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;

	.inner {
		//width: 1180px;
		margin: 0 auto;
		position: relative;

		> h1 {
			text-align: left;
			padding-left: 30px;
			a {
				font: bold 40px/1 arial;
				color: #555;
				letter-spacing: 1px;
			}
		}

		.wrap {
			width: 100%;
			.menuWeb {
				#gnb {
					position: absolute;
					top: 25px;
					left: 130px;
					&::after {
						content: "";
						display: block;
						clear: both;
					}
					> li {
						margin-left: 30px;
						float: left;
						> a {
							display: block;
							//width: 120px;
							//height: 38px;
							font: 14px/1 arial;
							color: #333;
							text-align: center;
							letter-spacing: 1px;
							margin: 0 auto;
							box-sizing: border-box;
							&:hover,
							&.on {
								//border-bottom: 2px solid #444;
								color: #b1bfca;
							}
						}
					}
				}
			}
		}
	}
	.util1 {
		position: absolute;
		top: 25px;
		right: 100px;

		li {
			float: left;
			margin-left: 22px;
			a {
				font: bold 13px/1 arial;
				color: #999;
				&:hover {
					color: #666;
				}
			}
		}
	}
}

#header .btnCall {
	display: none;
	width: 30px;
	height: 20px;
	position: fixed;
	top: 20px;
	right: 20px;
	z-index: 5;

	&::before {
		content: "";
		display: block;
		width: 100%;
		height: 3px;
		background: #444;
		border-radius: 3px;
		position: absolute;
		top: 0;
		right: 0;
		transition: top 0.5s 0s, transform 0.5s 0.5s;
	}
	&::after {
		content: "";
		display: block;
		width: 100%;
		height: 3px;
		background: #444;
		border-radius: 3px;
		position: absolute;
		bottom: 0;
		right: 0;
		transition: bottom 0.5s 0s, transform 0.5s 0.5s;
	}
	&.on::before {
		transform: rotate(45deg);
		top: calc(50% - 3px);
	}
	&.on::after {
		transform: rotate(-45deg);
		bottom: 50%;
	}
}

#header .menuMo {
	position: fixed;
	right: -350px;
	top: 0;
	width: 350px;
	height: 100%;
	opacity: 0.8;
	background: #eee;
	padding: 30px;
	box-sizing: border-box;
	transition: all 1s;
	z-index: 3;
	> h1 {
		font-size: 30px;
		text-align: center;
		padding: 10px;
		border-bottom: 2px solid #999;
	}
	.gnbMo li a {
		display: block;
		width: 100%;
		padding: 25px 0;
		font: 16px arial;
		text-align: left;
		color: #555;
		text-align: center;
		&:hover {
			color: lightskyblue;
		}
	}
	.utilMo {
		position: absolute;
		top: 8px;
		left: 10px;
		&::after {
			content: "";
			display: block;
			clear: both;
		}
		li {
			float: left;
			margin-left: 20px;
			a {
				font: 13px arial;
				color: #666;
			}
		}
	}
	&.on {
		right: 0;
	}
}

#visual {
	width: 100%;
	height: 100vh;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	padding: 300px 0 0;
	box-sizing: border-box;

	.bg {
		position: absolute;
		top: 15vh;
		left: 10vh;
		width: 75%;
		height: 75%;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		display: none;

		.txt {
			position: absolute;
			bottom: 80px;
			right: -150px;
			background: linear-gradient(45deg, aliceblue, transparent);
			padding: 50px 30px;
			> h1 {
				font: bold 18px/1 "Montserrat";
				color: skyblue;
				margin-bottom: 10px;
				padding-left: 5px;
				position: relative;

				&::before {
					content: "";
					display: block;
					width: 34px;
					height: 3px;
					background: #fff;
					position: absolute;
					bottom: -8px;
					left: 0px;
				}
			}
			h2 {
				font: 40px "Roboto";
				color: #777;
				letter-spacing: 1px;
				margin-bottom: 15px;
			}
			h3 {
				font: 18px "Roboto";
				color: skyblue;
				letter-spacing: 2px;
				margin-bottom: 3px;
			}

			p {
				font: 14px/1.6 "Roboto";
				color: #999;
				letter-spacing: 1px;
			}
		}
	}

	.mask {
		width: 100%;
		height: 2500px;
		background: lightblue;
		position: absolute;
		top: 100%;
		left: 0;
		transition: top 1.5s ease;

		&.on {
			top: -2500px;
		}
	}

	.list {
		width: 95%;
		height: 100%;
		display: flex;
		justify-content: space-evenly;
		transition: 1s;
		li {
			width: 16%;
			height: 100%;
			//border-right: 1px solid #eee;
			//border-left: 1px solid #eee;
			position: relative;
			transition: 1.5s;

			.pic {
				width: 100%;
				height: 80vh;
				position: absolute;
				transition: 2s;
				cursor: pointer;

				h1 {
					font: bold 20px/1 "Montserrat";
					position: absolute;
					top: -15px;
					right: 0;
					transform: rotate(90deg);
					transition: 0.5s;
					z-index: 5;
				}

				h2 {
					font: normal 18px/1 "Montserrat";
					letter-spacing: 1px;
					position: relative;
					top: 35%;
					right: -15px;
					transform: rotate(90deg);
					transition: 0.5s;
					transform-origin: right center;
					//긴 글의 오른쪽(시작점)부터 위치 조정됨
				}

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}

			&:nth-of-type(1) {
				.pic {
					bottom: -20%;
					transition-delay: 0.1s;
				}
			}
			&:nth-of-type(2) {
				.pic {
					bottom: -25%;
					transition-delay: 0.2s;
				}
			}
			&:nth-of-type(3) {
				.pic {
					bottom: -20%;
					transition-delay: 0.3s;
				}
			}
			&:nth-of-type(4) {
				.pic {
					bottom: -25%;
					transition-delay: 0.4s;
				}
			}

			&:hover {
				.pic {
					transform: scale(1.1);
				}
			}
		}

		&.on {
			li {
				transform: translateY(-200%);
				border-right: 0;
				border-left: 0;
				.pic {
					bottom: 100%;
				}
			}
		}
	}

	.menu {
		display: block;
		width: 5vw;
		height: 3vw;
		position: absolute;
		bottom: 20px;
		right: 20px;
		//border: 2px solid #eee;
		font-size: 20px;
		color: lightsteelblue;
		transition: 0.5s;
		z-index: 4;
		span {
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			transition: 0.5s;
			.fa-long-arrow-alt-up,
			.fa-long-arrow-alt-down {
				padding-left: 10px;
			}
			&.default {
				opacity: 1;
			}
			&.back {
				opacity: 0;
			}
		}

		&.on {
			top: 10px;
			span {
				&.back {
					opacity: 1;
				}
				&.default {
					opacity: 0;
				}
			}
		}
	}
}

#brand {
	width: 100%;
	padding: 100px 0;
	background: #f5f5f5;
	margin-top: 250px;
	margin-bottom: 100px;
	.inner {
		width: 1180px;
		margin: 0 auto;
		.wrap {
			width: 100%;
			&::after {
				content: "";
				display: block;
				clear: both;
			}
			.contents1 {
				width: 45%;
				float: left;
				> span {
					display: block;
					font: 14px/1 "Quicksand";
					color: #aaa;
					letter-spacing: 2px;
					margin-bottom: 10px;
				}
				h1 {
					font: bold 30px/1 "Roboto";
					letter-spacing: 2px;
					margin-bottom: 40px;
				}
				p {
					font: 14px/1.8 "Quicksand";
					color: #555;
					margin-bottom: 20px;
				}
				article {
					width: calc(100% / 3);
					height: 60px;
					float: left;
					margin-top: 40px;
					cursor: pointer;
					h2 {
						margin-bottom: 5px;
						a {
							font: bold 20px/1 "Roboto";
							color: skyblue;
							letter-spacing: 1px;
							transition: 0.5s;
						}
					}
					> span {
						font: 14px/1 "arial";
						color: #999;
						letter-spacing: 1px;
						transition: 0.5s;
					}
					&:hover {
						a {
							font-size: 23px;
							color: #999;
						}
						span {
							color: skyblue;
						}
					}
				}
			}
			.contents2 {
				width: 45%;
				float: right;
				height: 450px;
				background: url(../img/gallery3.jpg) no-repeat left/cover;
			}
		}
	}
}

#banner {
	width: 100%;
	padding: 100px 0 100px;
	.inner {
		width: 1180px;
		margin: 0 auto;
		.wrap {
			width: 100%;
			&::after {
				content: "";
				display: block;
				clear: both;
			}
			.contents3 {
				width: 65%;
				float: left;
				height: 300px;
				//background: #eee;
				background: url(../img/community1.jpg) no-repeat center/cover;
			}
			.contents4 {
				width: 35%;
				float: right;
				padding-left: 30px;
				box-sizing: border-box;
				> span {
					display: block;
					font: 14px/1 "Quicksand";
					color: #aaa;
					letter-spacing: 2px;
					margin-bottom: 10px;
				}
				h1 {
					font: bold 30px/1 "Roboto";
					letter-spacing: 2px;
					margin-bottom: 40px;
				}
				p {
					font: 14px/2 "Quicksand";
					color: #555;
					margin-bottom: 20px;
				}
			}
			.contents5 {
				width: 100%;
				float: left;
				margin-top: 30px;
				.con1 {
					width: 20%;
					float: left;
					padding-right: 30px;
					box-sizing: border-box;
					p {
						font: 14px/2 "Quicksand";
						color: #555;
						text-align: right;
						margin-bottom: 30px;
					}
				}
				.con2 {
					width: 45%;
					height: 500px;
					float: left;
					background: url(../img/gallery1.jpg) no-repeat center/cover;
				}
				.con3 {
					width: 35%;
					float: left;
					padding-left: 30px;
					box-sizing: border-box;
					.pic {
						width: 100%;
						height: 300px;
						background: url(../img/community2.jpg) no-repeat
							center/cover;
					}
					.txt {
						width: 100%;
						margin-top: 30px;
						p {
							font: 14px/2 "Quicksand";
							color: #555;
							text-align: left;
							margin-bottom: 20px;
						}
					}
				}
			}
		}
	}
}

#banner2 {
	width: 100%;
	padding: 100px 0 100px;
	.inner {
		//width: 1180px;
		//margin: 0 auto;
		.wrap {
			width: 100%;
			&::after {
				content: "";
				display: block;
				clear: both;
			}
			.contents6 {
				width: 50%;
				float: left;
				height: 480px;
				background: url(../img/3.jpg) no-repeat center/cover;
				position: relative;
				cursor: pointer;

				&::before,
				&::after {
					content: "";
					display: block;
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
					background: url(../img/4.jpg) no-repeat center/cover;
					transition: 0.8s;
				}
				&::before {
					clip-path: inset(0% 100% 50% 0%);
				}
				&::after {
					clip-path: inset(50% 100% 0% 0%);
					transition-delay: 0.2s;
				}
				/*
				&:hover::before {
					clip-path: inset(0% 0% 50% 0%);
				}
				&:hover::after {
					clip-path: inset(50% 0% 0% 0%);
				}
				*/
			}
			.contents7 {
				width: 50%;
				float: left;
				height: 480px;
				background: #f5f5f5;
				padding: 50px 150px 60px 60px;
				box-sizing: border-box;
				> span {
					display: block;
					font: 14px/1 "Quicksand";
					color: #aaa;
					letter-spacing: 2px;
					margin-bottom: 10px;
				}
				h1 {
					font: bold 30px/1 "Roboto";
					letter-spacing: 1px;
					margin-bottom: 30px;
				}
				h2 {
					font: 15px/1.6 "Quicksand";
					color: #555;
					margin-bottom: 10px;
					cursor: pointer;
				}
				p {
					margin-bottom: 30px;
					a {
						font: 15px/1.6 "Quicksand";
						color: lightskyblue;
					}
					.fa-arrow-right {
						font-size: 12px;
						padding-left: 5px;
						transition: 0.5s;
					}
					&:hover {
						.fa-arrow-right {
							transform: translateX(10px);
						}
					}
				}
			}
		}
		&:hover {
			.contents6::before {
				clip-path: inset(0% 0% 50% 0%);
			}
			.contents6::after {
				clip-path: inset(50% 0% 0% 0%);
			}
		}
	}
}

#news {
	width: 100%;
	padding: 100px 0 300px;
	.inner {
		width: 1180px;
		margin: 0 auto;
		span {
			display: block;
			font: 14px/1 "Quicksand";
			color: #aaa;
			text-align: center;
			letter-spacing: 2px;
			margin-bottom: 10px;
		}
		h1 {
			font: bold 30px/1 "Roboto";
			letter-spacing: 2px;
			text-align: center;
			margin-bottom: 50px;
		}
		.wrap {
			width: 100%;
			&::after {
				content: "";
				display: block;
				clear: both;
			}
			.newsbox {
				width: 100%;
				height: 350px;
				article {
					width: 580px;
					float: left;
					margin-right: 20px;
					margin-bottom: 20px;
					cursor: pointer;
					transition: 0.5s;
					transform: translateY(100px);
					opacity: 0;
					&:nth-of-type(even) {
						margin-right: 0;
					}
					&:nth-of-type(1) {
						transition-delay: 0.1s;
						.pic::before {
							background-image: url(../img/gallery4.jpg);
						}
					}
					&:nth-of-type(2) {
						transition-delay: 0.2s;
						.pic::before {
							background-image: url(../img/gallery8.jpg);
						}
					}
					&:nth-of-type(3) {
						transition-delay: 0.3s;
						.pic::before {
							background-image: url(../img/gallery9.jpg);
						}
					}
					&:nth-of-type(4) {
						transition-delay: 0.4s;
						.pic::before {
							background-image: url(../img/1.jpg);
						}
					}
					.pic {
						float: left;
						width: 220px;
						height: 145px;
						overflow: hidden;
						position: relative;
						&::before {
							content: "";
							display: block;
							width: 100%;
							height: 100%;
							position: absolute;
							top: 0;
							left: 0;
							background-position: center;
							background-repeat: no-repeat;
							background-size: cover;
							transition: 0.5s;
						}
						&:hover::before {
							transform: scale(1.1);
						}
					}
					.txt {
						float: left;
						padding: 50px 30px 0;
						h2 {
							font: 16px/1 "Quicksand";
							color: #555;
							margin-bottom: 10px;
						}
						h3 {
							display: inline-block;
							font: 14px/1 "Quicksand";
							color: #333;
							letter-spacing: 1px;
							position: relative;
							&::after {
								content: "";
								display: block;
								width: 1px;
								height: 15px;
								background: #888;
								position: absolute;
								top: -1px;
								right: -11px;
							}
						}
						p {
							display: inline-block;
							padding-left: 15px;
							font: 15px/1 "Quicksand";
							color: #777;
						}
					}
				}
			}

			dl {
				width: 100%;
				> h1 {
					font: bold 30px "Roboto";
					text-align: center;
					margin-bottom: 30px;
					padding-top: 50px;
				}
				dt {
					width: 100%;
					padding: 25px;
					box-sizing: border-box;
					background: #fff;
					border-bottom: 3px solid #e2f1f8;
					font: bold 14px/1 "Roboto";
					color: #888;
					letter-spacing: 2px;
					cursor: pointer;
					transition: 0.5s;
					position: relative;
					&::after {
						content: "";
						display: block;
						width: 13px;
						height: 2px;
						background: #888;
						position: absolute;
						top: 50%;
						right: 30px;
						transform: translateY(-50%);
					}
					&::before {
						content: "";
						display: block;
						width: 2px;
						height: 13px;
						background: #888;
						position: absolute;
						top: 40%;
						right: 36px;
						transition: 1s;
					}
					&:hover {
						background: #e2f1f8;
						opacity: 0.8;
					}
					&.on {
						background: #e2f1f8;
						&::before {
							display: none;
						}
					}
				}
				dd {
					width: 100%;
					padding: 20px;
					box-sizing: border-box;
					font: 16px/1.6 "Roboto";
					color: #888;
					letter-spacing: 1px;
					//background: #e2f1f8;
					display: none;
				}
			}

			.more {
				width: 120px;
				height: 40px;
				border: 2px solid #e2f1f8;
				box-sizing: border-box;
				margin: 0 auto;
				margin-top: 50px;
				a {
					display: block;
					width: 100%;
					height: 100%;
					font: bold 15px/40px "Roboto";
					color: #333;
					letter-spacing: 2px;
					text-align: center;

					.fa-long-arrow-alt-right {
						padding-left: 7px;
						margin-bottom: -1px;
						color: #444;
						transition: 0.5s;
					}
				}
				&:hover {
					.fa-long-arrow-alt-right {
						transform: translateX(10px);
					}
				}
			}
		}
	}
	&.on {
		.inner .wrap article {
			opacity: 1;
			transform: translateY(0);
		}
	}
}

/*footer layout*/
#footer {
	width: 100%;

	.upper {
		width: 100%;
		background: #f3f8fade;
		padding: 80px 0;
		.inner {
			width: 1180px;
			margin: 0 auto;
			position: relative;
			&::after {
				content: "";
				display: block;
				clear: both;
			}
			.footerGnb {
				width: 70%;
				float: left;
				ul {
					float: left;
					padding-right: 70px;
					li {
						letter-spacing: 1px;
						margin-bottom: 15px;
						&:nth-of-type(1) {
							font: 14px/1 arial;
							color: #666;
						}
						a {
							color: #babdbe;
							font: 12px/1 arial;
						}
					}
				}
			}
			.emailBox {
				width: 30%;
				float: left;
				label[for="email"] {
					display: block;
					font: normal 14px/1 arial;
					color: #666;
					letter-spacing: 1px;
					margin-bottom: 15px;
				}

				label[for="female"],
				label[for="male"] {
					font-size: 12px;
					color: #babdbe;
					margin-right: 10px;
					margin-bottom: 10px;
				}
				input[type="text"] {
					width: 100%;
					height: 30px;
					border: none;
					border-bottom: 2px solid #ccc;
					background: #f3f8fade;
					margin-bottom: 10px;
					box-sizing: border-box;
					font-size: 13px;
					letter-spacing: 1px;
					text-align: center;
				}
				input[type="submit"] {
					width: 100%;
					height: 35px;
					border: none;
					border-radius: 3px;
					background: #babdbe70;
					font: 12px/1 arial;
					color: #fff;
					letter-spacing: 1px;
					cursor: pointer;
					&:hover {
						background: #9a9d9e;
					}
				}
			}
		}
	}

	.loewr {
		width: 100%;
		padding: 15px 0;
		background: #eceff1;
		.inner {
			width: 1180px;
			margin: 0 auto;
			&::after {
				content: "";
				display: block;
				clear: both;
			}

			address {
				float: left;
				padding-top: 6px;
				font: 12px/1 arial;
				color: #888;
			}
			.sns {
				float: right;
				margin-right: 55px;
				li {
					float: left;
					margin-left: 20px;
					a {
						font: 12px/1 arial;
						color: #888;
					}
				}
			}
		}
	}
}

/*scroll btn*/
#navi {
	position: fixed;
	right: 50px;
	top: 50%;
	transform: translateY(-50%);

	li {
		margin: 20px 0;

		a {
			display: block;
			width: 10px;
			height: 10px;
			background: #b1bfca;
			border-radius: 5px;
			transition: 0.5s;

			&.on {
				background: #e2f1f8;
				height: 60px;
			}
		}
	}
}

/* Tablet */
@media screen and (max-width: $tablet) {
	#header {
		padding-top: 20px;
		.inner {
			width: 100%;
			> h1 {
				a {
					font-size: 35px;
				}
			}
			.wrap {
				.menuWeb {
					display: none;
				}
				.btnCall {
					display: block;
				}
			}
		}
	}

	#visual {
		width: 100%;
		height: 75vh;
		padding: 0px 30px 0;
		box-sizing: border-box;
		.bg {
			top: 15vh;
			left: 0vh;
			width: 100%;
			height: 100%;
			.txt {
				bottom: 130px;
				right: 0px;
				box-sizing: border-box;
				padding: 20px;
				> h1 {
					font: bold 16px/1 "Montserrat";
					padding-left: 4px;
					&::before {
						width: 30px;
						height: 2px;
					}
				}
				h2 {
					font: 30px "Roboto";
					margin-bottom: 10px;
				}
				h3 {
					font: 15px "Roboto";
				}
				p {
					font: 12px/1.4 "Roboto";
				}
			}
		}

		.mask {
			width: 100%;
			height: 2500px;
			background: lightblue;
			position: absolute;
			top: 100%;
			left: 0;
			transition: top 1.5s ease;

			&.on {
				top: -2500px;
			}
		}

		.list {
			width: 95%;
			height: 100%;
			justify-content: space-between;
			li {
				width: 22%;
				.pic {
					height: 68vh;
					transition: 2s;

					h1 {
						top: -25px;
						font-size: 17px;
					}

					h2 {
						display: none;
					}
				}
			}
		}

		.menu {
			width: 80px;
			height: 30px;
			bottom: 0;
			right: -10px;
			font-size: 17px;
			z-index: 2;
			span {
				.fa-long-arrow-alt-up,
				.fa-long-arrow-alt-down {
					padding-left: 5px;
				}
			}
			&.on {
				top: 11vh;
			}
		}
	}

	#brand {
		padding: 50px 30px 50px;
		box-sizing: border-box;
		margin-top: 100px;
		margin-bottom: 100px;
		.inner {
			width: 100%;
			.wrap {
				.contents1 {
					width: 57%;
					h1 {
						margin-bottom: 30px;
					}
					p {
						font: 14px/1.6 "Quicksand";
					}
					article {
						margin-top: 10px;
						h2 {
							margin-bottom: 5px;
							a {
								font: bold 18px/1 "Roboto";
							}
						}
						> span {
							font: 13px/1 "arial";
						}
						&:hover {
							a {
								font-size: 20px;
							}
						}
					}
				}
				.contents2 {
					width: 40%;
				}
			}
		}
	}

	#banner {
		padding: 100px 30px 100px;
		box-sizing: border-box;
		.inner {
			width: 100%;
			.wrap {
				.contents3 {
					width: 60%;
					height: 330px;
				}
				.contents4 {
					width: 40%;
					padding-left: 20px;
					h1 {
						font: bold 23px/1 "Roboto";
						margin-bottom: 20px;
					}
					p {
						font: 14px/1.6 "Quicksand";
						margin-bottom: 0;
					}
				}
				.contents5 {
					margin-top: 20px;
					.con1 {
						width: 30%;
						padding-right: 20px;
						> p {
							font: 14px/1.5 "Quicksand";
							margin-bottom: 15px;
						}
					}
					.con2 {
						width: 30%;
						height: 440px;
					}
					.con3 {
						//display: none;
						width: 40%;
						padding-left: 20px;
						.pic {
							height: 280px;
						}
						.txt {
							margin-top: 10px;
							p {
								font: 14px/1.6 "Quicksand";
								margin-bottom: 0px;
							}
						}
					}
				}
			}
		}
	}

	#banner2 {
		.inner {
			.wrap {
				.contents6 {
					width: 55%;
					height: 440px;
				}
				.contents7 {
					width: 45%;
					height: 440px;
					padding: 25px 20px 20px;
					h1 {
						margin-bottom: 20px;
						font-size: 25px;
					}
					h2 {
						font: 14px/1.4 "Quicksand";
						margin-bottom: 0px;
					}
					p {
						font-size: 15px;
						margin-bottom: 10px;
					}
				}
			}
		}
	}

	#news {
		padding: 0px 30px 200px;
		box-sizing: border-box;
		.inner {
			width: 100%;
			.wrap {
				.newsbox {
					width: 100%;
					height: auto;
					article {
						width: 49%;
						margin-right: 2%;
						margin-bottom: 10px;
						.pic {
							width: 100%;
							height: 25vh;
						}
						.txt {
							padding: 20px 0;
							h2 {
								font: 14px/1 "Quicksand";
								margin-bottom: 0px;
							}
							h3 {
								font: 13px/1 "Quicksand";
							}
						}
						&:nth-of-type(3),
						&:nth-of-type(4) {
							margin-bottom: 40px;
						}
					}
				}

				dl {
					> h1 {
						margin-bottom: 20px;
					}
					dt {
						padding: 20px 10px;
						border-bottom: 2px solid #e2f1f8;
						font: bold 13px/1.6 "Roboto";
						&::after {
							right: 20px;
						}
						&::before {
							right: 26px;
						}
					}
					dd {
						padding: 10px;
						font: 13px/1.6 "Roboto";
					}
				}

				.more {
					margin-top: 30px;
				}
			}
		}
	}

	/*footer layout*/
	#footer {
		.upper {
			width: 100%;
			padding: 40px 30px;
			box-sizing: border-box;
			.inner {
				width: 100%;
				position: relative;
				.footerGnb {
					width: 100%;
					float: none;
					ul {
						width: 25%;
						padding-right: 0;
						margin-bottom: 30px;
						li {
							font: 13px/1 arial;
						}
					}
				}
				.emailBox {
					width: 100%;
					text-align: left;
					label[for="email"] {
						font: normal 13px/1 arial;
					}
					input[type="submit"] {
						font-size: 13px;
					}
				}
			}
		}

		.loewr {
			padding: 13px 30px;
			box-sizing: border-box;
			.inner {
				width: 100%;
				address {
					padding-top: 4px;
					color: #999;
				}
				.sns {
					margin-right: 0px;
					li {
						margin-left: 15px;
						a {
							color: #999;
						}
					}
				}
			}
		}
	}

	/*scroll btn*/
	#navi {
		right: 15px;
		li {
			margin: 15px 0;
			a {
				width: 7px;
				height: 7px;
			}
		}
	}
}

/* Mobile*/
@media screen and (max-width: $mobile) {
	#header {
		padding-top: 10px;
		.inner {
			h1 {
				a {
					font-size: 30px;
				}
			}
			.wrap {
				.menuMo {
					opacity: 1;
					> h1 {
						font-size: 25px;
					}
					li a {
						font-size: 14px;
					}
					.utilMo {
						li a {
							font-size: 12px;
						}
					}
				}
				.btnCall {
					display: block;
					width: 23px;
					height: 15px;
					top: 10px;
					right: 10px;
					&::before,
					&::after {
						height: 2px;
						color: #999;
					}
					&.on::before {
						top: calc(50% - 2px);
					}
				}
			}
		}
	}

	#visual {
		padding: 0px 0px 0;
		height: 40vh;
		.bg {
			.txt {
				width: 100%;
				bottom: 107px;
				right: 0px;
				padding: 20px;
				> h1 {
					font: bold 12px/1 "Montserrat";
					padding-left: 3px;
					margin-bottom: 6px;
					&::before {
						width: 24px;
						height: 1px;
						bottom: -5px;
					}
				}
				h2 {
					font: 20px "Roboto";
					margin-bottom: 5px;
				}
				h3 {
					font: 11px "Roboto";
					margin-bottom: 0px;
					letter-spacing: 1px;
				}
				p {
					display: none;
				}
			}
		}
		.list {
			width: 100%;
			li {
				width: 21%;
				.pic {
					height: 33vh;
					h1 {
						top: -20px;
						font-size: 13px;
						z-index: 1;
					}
				}
			}
		}
		.menu {
			font-size: 14px;
		}
	}

	#brand {
		padding: 35px 30px;
		box-sizing: border-box;
		margin-top: 100px;
		margin-bottom: 30px;
		.inner {
			.wrap {
				.contents1 {
					width: 100%;
					h1 {
						font-size: 25px;
						margin-bottom: 10px;
					}
					p {
						font: 13px/1.4 "Quicksand";
						margin-bottom: 7px;
						word-break: break-all;
					}
					article {
						margin-top: 0px;
						margin-bottom: 15px;
						h2 {
							margin-bottom: 0px;
							a {
								font: bold 15px/1 "Roboto";
							}
						}
						> span {
							font: 10px/1 "arial";
							margin-bottom: 7px;
						}
						&:hover {
							a {
								font-size: 16px;
							}
						}
					}
				}
				.contents2 {
					width: 100%;
					height: 250px;
				}
			}
		}
	}

	#banner {
		padding: 60px 30px;
		box-sizing: border-box;
		.inner {
			width: 100%;
			.wrap {
				.contents3 {
					width: 100%;
					height: 200px;
				}
				.contents4 {
					width: 100%;
					padding-left: 0px;
					padding-top: 10px;
					h1 {
						font: bold 23px/1 "Roboto";
						margin-bottom: 10px;
					}
					span {
						margin-bottom: 5px;
					}
					p {
						font: 14px/1.4 "Quicksand";
						margin-bottom: 0;
					}
				}
				.contents5 {
					margin-top: 20px;
					.con1 {
						width: 100%;
						padding-right: 20px;
						> p {
							display: none;
						}
					}
					.con2 {
						width: 100%;
						height: 200px;
					}
					.con3 {
						//display: none;
						width: 100%;
						padding-left: 0px;
						.pic {
							display: none;
						}
						.txt {
							margin-top: 10px;
							p {
								font: 14px/1.4 "Quicksand";
								margin-bottom: 0px;
							}
						}
					}
				}
			}
		}
	}

	#banner2 {
		padding: 50px 0 100px;
		.inner {
			.wrap {
				.contents6 {
					width: 100%;
					height: 200px;
				}
				.contents7 {
					width: 100%;
					height: 355px;
					padding: 25px;
					h1 {
						margin-bottom: 15px;
						font-size: 25px;
					}
					span {
						margin-bottom: 5px;
					}
					h2 {
						font: 13px/1.3 "Quicksand";
						margin-bottom: 0px;
					}
					p {
						font-size: 14px;
						margin-bottom: 15px;
					}
				}
			}
		}
	}

	#news {
		padding: 0px 30px 200px;
		.inner {
			h1 {
				font-size: 25px;
			}
			.wrap {
				.newsbox {
					article {
						width: 100%;
						margin-right: 0%;
						margin-bottom: 5px;
						.pic {
							width: 100%;
							height: 20vh;
						}
						.txt {
							padding: 10px 0;
							h2 {
								font: 13px/1 "Quicksand";
								margin-bottom: 0px;
							}
							h3 {
								font: 12px/1 "Quicksand";
							}
							p {
								font-size: 12px;
							}
						}
						&:nth-of-type(3),
						&:nth-of-type(4) {
							margin-bottom: 40px;
						}
					}
				}

				dl {
					> h1 {
						font-size: 25px;
						margin-bottom: 10px;
					}
					dt {
						padding: 15px 25px 15px 0;
						border-bottom: 2px solid #e2f1f8;
						font: bold 12px/1.4 "Roboto";
						word-break: break-all;
						&::after {
							right: 10px;
							height: 1px;
						}
						&::before {
							right: 16px;
							width: 1px;
						}
					}
					dd {
						padding: 10px;
						font: 13px/1.6 "Roboto";
					}
				}

				.more {
					width: 100px;
					height: 35px;
					margin-top: 30px;
					a {
						font: bold 14px/35px "Roboto";
					}
				}
			}
		}
	}

	/*footer layout*/
	#footer {
		.upper {
			padding: 30px 30px;
			.inner {
				.footerGnb {
					ul {
						width: 50%;
						margin-bottom: 20px;
						li {
							margin-bottom: 10px;
							&:nth-of-type(1) {
								font: 12px/1 arial;
							}
							a {
								font-size: 11px;
							}
						}
					}
				}
				.emailBox {
					width: 100%;
					margin-top: 10px;
					label[for="email"] {
						font: normal 12px/1 arial;
						margin-bottom: 10px;
					}
					input[type="text"],
					input[type="submit"] {
						font-size: 12px;
					}
				}
			}
		}

		.loewr {
			.inner {
				address {
					width: 100%;
					text-align: center;
					padding-bottom: 10px;
				}
				.sns {
					width: 100%;
					float: none;
					li {
						width: calc(100% / 4);
						margin-left: 0px;
						text-align: center;
						a {
							color: #888;
						}
					}
				}
			}
		}
	}
}
